body {
	min-width: 550px;
	background-color: #E9E9E9;
	font-size: 18px;
	color: #333333;
	height: 100%;
}

h1.section {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

.navbar {
	width: 100%;
	background-color: #C5C6C7;
	border-radius: 0;
	border: 0;
	margin-bottom: 10px;
}

.navbarContainer {
	margin-left: 2.5%;
	margin-right: 2.5%;
	font-size: 20px;
}

.logo {
	text-align: left;
}

a.navbarLink:link, a.navbarLink:visited {
	text-decoration: none;
	color: #333333; /* gray */
	display: block;
	width: 100%;
	text-align: center;
}

a.navbarLink:hover, a.navbarLink:active {
	color: #FFFFFF; /* white */
}

table, th, td {
	border: 1px solid black;
}

th, td {
	padding-left: 5px;
	padding-right: 5px;
}